*

!/deno.json
!.husky/
!.husky/pre-commit
!/.editorconfig
!/.eslintignore
!/.eslintrc.cjs
!/.gitattributes
!/.gitignore
!/.git-blame-ignore-revs
!/.npmignore
!/.npmrc
!/.madgerc
!/jest.config.mjs
!/lefthook.yml
!/LICENSE
!/package.json
!/pnpm-lock.yaml
!/README.md
!/tsconfig.json
!/tsconfig.test.json
!/tsconfig.eslint.json
!/dependabot.yml

!src/
!src/**/
!src/**/*.ts

!config/
!config/**/
!config/**/*.json

!.github/
!.github/**/
!.github/workflows/**/**.yml
!.github/CODEOWNERS
!.github/dependabot.yml
