*

!/.editorconfig
!/.git-blame-ignore-revs
!/.gitattributes
!/.gitignore
!/.madgerc
!/.npmignore
!/.npmrc
!/biome.jsonc
!/DEPENDENCY_OVERRIDES.md
!/lefthook.yml
!/LICENSE.txt
!/package.json
!/pnpm-lock.yaml
!/pnpm-workspace.yaml
!/README.md
!/tsconfig.json
!/tsconfig.test.json

!src/
!src/**/
!src/**/*.ts

!config/
!config/**/
!config/**/*.json

!.github/
!.github/**/
!.github/workflows/**/**.yml
!.github/CODEOWNERS
!.github/dependabot.yml
!.github/trufflehog-exclude.txt

!scripts/
!scripts/**/
!scripts/**/*.js
!scripts/**/*.sh
!scripts/**/*.ts

