*

!.husky/
!.husky/pre-commit
!/.editorconfig
!/.eslintignore
!/.eslintrc.json
!/.gitattributes
!/.gitignore
!/.npmignore
!/.npmrc
!/.prettierignore
!/.prettierrc.json
!/.madgerc
!/jest.config.mjs
!/LICENSE
!/package.json
!/pnpm-lock.yaml
!/README.md
!/tsconfig.json
!/tsconfig.test.json
!/tsconfig.eslint.json
!/dependabot.yml

!src/
!src/**/
!src/**/*.ts
!src/**/*.mts

!config/
!config/**/
!config/**/*.json

!.github/
!.github/**/
!.github/workflows/**/**.yml
!.github/CODEOWNERS
!.github/dependabot.yml
