*

!.gitignore
!.eslintrc.cjs
!.node-version

!/.editorconfig
!/.gitattributes
!/.prettierignore
!/.prettierrc.js
!/README.md

# Github
!.github/
!.github/**/
!.github/workflows/**/**.yml
!.github/CODEOWNERS

!ci/
!ci/*.py

# Rush
!/common/
!/common/*/
!rush.json

!road/
!road/*/
!rail/
!rail/*/
!marine/
!marine/*/
!other/
!other/*/
!tools/
!tools/*/
!lib/
!lib/*/
