*

!.gitignore
!/.git-blame-ignore-revs
!/.editorconfig
!/.gitattributes
!/.node-version
!/.prettierignore
!/.prettierrc.cjs
!/*.md
!/*.sh
!/*.py
!/Dockerfile
!/LICENCE
!/biome.jsonc
!/rush.json

# for creating empty directories
!.git-create

!/scripts/
!/scripts/*.sh
!/scripts/*.template
!/scripts/*.md
!/scripts/*.py

!/lib/
!/lib/*/
!/tools/
!/tools/*/

!/common/

# Project folders
!aviation/
!aviation/*/
!marine/
!marine/*/
!other/
!other/*/
!rail/
!rail/*/
!road/
!road/*/
!template/
!template/esm/

# Github
!.github/
!.github/**/
!.github/workflows/**/**.yml
!.github/CODEOWNERS
!/.github/dependabot.yml
