use-node-version=24.18.1
auto-install-peers=false
strict-peer-dependencies=true
minimum-release-age=10080
ignore-scripts=true
minimum-release-age-exclude[]=fast-uri@3.1.5
minimum-release-age-exclude[]=brace-expansion@5.0.9
minimum-release-age-exclude[]=@aws-sdk/core@3.977.6
