# Rush files
common/changes
common/scripts/install-run-rush-pnpm.js
common/scripts/install-run-rush.js
common/scripts/install-run-rushx.js
common/scripts/install-run.js
common/config
CHANGELOG.*

# Package manager files
pnpm-lock.yaml
shrinkwrap.json
*.py

# Build outputs
dist

*.md
