*

!/.gitignore
!/cdk.json
!/jest.config.js
!/*.json
!/*.md
!/*.sh

!/config/
!/config/*.json
!/src/
!/src/**/
!/src/**/*.ts
!/src/website/**/*.ico
!/src/website/**/*.html
!/src/website/**/*.svg
!/src/website/**/*.json
!/src/website/**/*.js
!/src/website/**/*.css
!/src/web/*
/src/bin
