*

!/.eslintignore
!/.eslintrc.cjs
!/.eslintrc.js
!/.gitignore
!/cdk.json
!/jest.config.js
!/*.json
!/*.md
!/*.sh

!/config/
!/config/*.json
!/docs/
!/docs/*
!/database/
!/database/Dockerfile
!/database/**/
!/database/**/*.sql
!/database/**/*.md
!/database/**/*.sh
!/database/**/*.conf
!/lib/
!/lib/**/
!/lib/**/*.ts
!/test/
!/test/**/
!/test/**/*.ts
