html, body {
    height: 100%;
    color: #000;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Public Sans", sans-serif;
}

.header {
    font-size: 2rem;
    margin: 0;
    background-color: #000;
    color: #fff;
    padding: 1.5rem 1rem 1.5rem 1rem;
}

.wrapper {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-content: space-between;
}

.container {
    padding: 0 1rem 0 1rem;
}

.footer {
    background-color: #000;
    padding: 1.5rem;
}

.footer a {
    color: #fff;
}

.disclaimer {
    margin: 1rem 0 1rem 0;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}
