*
!/.gitignore
!/cdk.json
!/jest.config.js
!/*.json
/sbom.json
!/*.md
!/*.sh
!/esbuild.ts

!/config/
!/config/*.json
!/database/
!/database/Dockerfile
!/database/**/
!/database/**/*.sql
!/database/**/*.md
!/database/**/*.sh
!/database/**/*.conf
!/src/
!/src/**/
!/src/**/*.ts
/src/bin

sbom.json
