*

!/tsconfig.json
!/package.json
!/.eslintignore
!/.eslintrc.cjs
!/.eslintrc.js
!/.gitignore
!/cdk.json
!/jest.config.js
!/README.md

!/config/
!/config/*.json
!/src/
!/src/**/
!/src/**/*.ts
/src/bin

!/digitraffic-figures/
!/digitraffic-figures/**/
!/digitraffic-figures/dbfigures/sql
!/digitraffic-figures/app.py
!/digitraffic-figures/digitraffic_figures/
!/digitraffic-figures/digitraffic_figures/**/*.py
!/digitraffic-figures/dbfigures/sql/*.sql
!/digitraffic-figures/.env.example
!/digitraffic-figures/docker-compose.yml
!/digitraffic-figures/Dockerfile
!/digitraffic-figures/Makefile
!/digitraffic-figures/requirements.txt
!/digitraffic-figures/update_requirements.sh
!/digitraffic-figures/dbfigures/data/test/test_data.csv
