*

!.eslintignore
!.eslintrc.json
!.gitignore
!cdk.json
!tsconfig.json
!package.json

!lib/
!lib/**/
!lib/**/*.ts

!digitraffic-figures/
!digitraffic-figures/**/
!digitraffic-figures/dbfigures/sql
!digitraffic-figures/digitraffic_figures/
!digitraffic-figures/**/*.py
!digitraffic-figures/dbfigures/sql/*.sql
!digitraffic-figures/.env.example
!digitraffic-figures/docker-compose.yml
!digitraffic-figures/Dockerfile
!digitraffic-figures/Makefile
!digitraffic-figures/requirements.txt
!digitraffic-figures/update_requirements.sh
