*

!/.eslintignore
!/.eslintrc.cjs
!/.eslintrc.js
!/.gitignore
!/cdk.json
!/jest.config.js
!/*.json
!/*.md
!/*.sh

!/config/
!/config/*.json
!/lib/
!/lib/**/
!/lib/**/*.ts
!/resources/
!/resources/**/
!/resources/**/*.json
!/resources/**/*.xsd
!/test/
!/test/**/
!/test/**/*.ts
