!/config/
!/config/**/
!/config/repo/
!/config/repo/*.default.json
!/config/rush/*
!/git-hooks/
!/git-hooks/*
!/lib/
!/lib/**/
!/lib/*/*.js
!/scripts/
!/scripts/**/
!/scripts/**/*.py
!/scripts/**/*.js
!/scripts/**/*.mjs
!/scripts/**/*.sh

# Rush autoinstallers
!/autoinstallers/
!/autoinstallers/*/
!/autoinstallers/*/.npmrc
!/autoinstallers/*/package.json
!/autoinstallers/*/pnpm-lock.yaml
