*

# Rush autoinstallers
!/autoinstallers/
!/autoinstallers/*
!/autoinstallers/rush-command-line-tools/
!/autoinstallers/rush-command-line-tools/package.json
!/autoinstallers/rush-command-line-tools/pnpm-lock.yaml
# Rush configs
!/config/
!/config/*
!/config/**/*
# Rush scripts
!/scripts/
!/scripts/*
!/scripts/**/*
# Rush git-hook
!/git-hooks/
!/git-hooks/*
!/git-hooks/**/*
