*

!/.eslintignore
!/.eslintrc.cjs
!/.eslintrc.js
!/.gitignore
!/cdk.json
!/jest.config.js
!/*.json
!/*.md
!/*.sh

!/lib/
!/lib/**/
!/lib/**/*.ts
!/lib/model/source/*
!/test/
!/test/**/
!/test/**/*.ts
