name: Biome Check

on:
  workflow_dispatch:
  push:

permissions:
  contents: read

jobs:
  biome:
    name: Biome Lint & Format
    if: github.repository != 'tmfg/digitraffic-common'
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: latest
      - name: Run Biome
        run: biome ci --reporter=github --no-errors-on-unmatched .
