name: CI
on: [push]

jobs:
  build:
    if: github.repository != 'tmfg/digitraffic-cdk'
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 2
      - name: Git config user
        uses: snow-actions/git-config-user@v1.0.0
        with:
          name: digitraffic-ci
          email: digitraffic@solita.fi
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      #- name: Check rush.json and dependabot.yml
      #  run: python scripts/check-dependabot-projects.py
      - name: Cache pnpm store cache
        uses: actions/cache@v4
        with:
          key: ${{ runner.os }}-rush-pnpm-store-${{ hashFiles('common/config/rush/repo-state.json') }}
          path: |
            common/temp/pnpm-store

      # - name: Verify Change Logs
      #   run: node common/scripts/install-run-rush.js change --verify
      - name: Rush Install
        run: node common/scripts/install-run-rush.js install
      - name: Rush rebuild
        run: node common/scripts/install-run-rush.js rebuild --verbose
