name: Build, install and deploy to AWS

on:
  workflow_dispatch:
    inputs:
      env:
        description: "Environment"
        required: true
        type: environment
        default: "test"
      ref:
        description: "Branch/tag/SHA of digitraffic-cdk-private"
        required: true
        default: "master"
      config-repo-branch:
        description: "Branch or tag of CI-repo"
        required: true
        default: "master"
      application:
        description: "Application to install (afir/mqtt/both)"
        required: true
        type: choice
        options: 
          - "digitraffic-statistics"
          - "aton-faults"
      deploy_all_changes:
        description: "Deploy all changes in CDK stacks (otherwise just ECS image tag changes are deployed)"
        required: true
        type: boolean
        default: false

jobs:
  build_and_deploy:
    if: ${{ github.repository != 'tmfg/digitraffic-cdk' }}
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read
      actions: read
    environment: ${{ github.event.inputs.env }}

    steps:
      - name: Configure AWS credentials
        if: 1 == 2
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.AWS_ROLE }}
          role-session-name: gh-actions-install-images-${{ github.event.inputs.env }}
          aws-region: ${{ secrets.AWS_REGION }}
          
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.inputs.ref }}

      - name: Checkout CI-repo
        uses: actions/checkout@v6
        with:
          repository: ${{ secrets.CONFIG_REPO_NAME }}
          ssh-key: ${{ secrets.CONFIG_REPO_SSH_KEY }}
          ref: ${{ inputs.config-repo-branch }}
          path: digitraffic-ci

      - name: Setup Node.js 24
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Setup pnpm 10
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Rush Install
        run: node common/scripts/install-run-rush.js install

      - name: Diff and deploy
        env:
          DEPLOY_ALL_CHANGES: ${{ github.event.inputs.deploy_all_changes }}
          # the value of AWS_PROFILE is only used by the stack code, local AWS profile configurations are not being set up
          AWS_PROFILE: ${{ secrets.AWS_PROFILE }}
          ENV: ${{ github.event.inputs.env }}
        run: |                  
            if [ $ENV == "prod" ]; then export STACK=ChargingNetworkAfirProd; else export STACK=ChargingNetworkAfirTest; fi;
            if [ $DEPLOY_ALL_CHANGES == "true" ]; then export CDK_COMMAND=deploy; else export CDK_COMMAND=diff; fi;

            node common/scripts/install-run-rush.js rebuild --to ${{ github.event.inputs.application }}

            # and the deploy
            # pnpm cdk deploy $STACK?

      - name: Generate SBOM
        run: |
          node common/scripts/install-run-rush.js generate-sbom --only ${{ github.event.inputs.application }}

      - name: Configure AWS credentials for SBOM
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.SBOM_AWS_ROLE }}
          role-session-name: gh-actions-upload-sbom-${{ github.event.inputs.application }}-${{ github.event.inputs.env }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Upload SBOM
        run: |
          aws s3 cp afir/charging-network/sbom.json s3://${{ secrets.SBOM_BUCKET }}/${{ fromJson(secrets.SBOM_PROJECT_KEYS)[github.event.inputs.env]['charging-network'] }}/${{ github.run_id }}-${{ github.sha }}.json
