name: Build, install and deploy to AWS

on:
  workflow_dispatch:
    inputs:
      env:
        description: "Environment"
        required: true
        type: choice
        options:
          - "prod"
          - "test"
        default: "test"
      ref:
        description: "Branch/tag/SHA of digitraffic-cdk-private"
        required: true
        default: "master"
      config-repo-branch:
        description: "Branch or tag of CI-repo"
        required: true
        default: "master"
      command:
        description: "Command for cdk"
        required: true
        type: choice
        options: 
          - "deploy"
          - "diff"
        default: "deploy"

      application:
        description: "Application to install"
        required: true
        type: choice
        options: 
          - "digitraffic-statistics"
          - "aton-faults"

jobs:
  build_and_deploy:
    if: ${{ github.repository != 'tmfg/digitraffic-cdk' }}
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read
      actions: read
    environment: ${{ github.event.inputs.env }}

    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.inputs.ref }}

      - name: Checkout CI-repo
        uses: actions/checkout@v6
        with:
          repository: ${{ secrets.CONFIG_REPO_NAME }}
          ssh-key: ${{ secrets.CONFIG_REPO_SSH_KEY }}
          ref: ${{ inputs.config-repo-branch }}
          path: digitraffic-ci

      - name: Set environment variables
        id: environment
        run: |
            export DOMAIN=${{ fromJson(secrets.INSTALL_CONFIG).projects[github.event.inputs.application].domain }}
            export STACK=${{ fromJson(secrets.INSTALL_CONFIG).projects[github.event.inputs.application].stack }}
            export DIRECTORY=$DOMAIN/${{ github.event.inputs.application }}

            echo "domain=$DOMAIN" >> $GITHUB_OUTPUT
            echo "stack=$STACK" >> $GITHUB_OUTPUT
            echo "directory=$DIRECTORY" >> $GITHUB_OUTPUT

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ fromJson(secrets.INSTALL_CONFIG).roles[github.event.inputs.env][steps.environment.outputs.domain] }}
          role-session-name: gh-actions-install-${{ github.event.inputs.env }}
          aws-region: ${{ secrets.AWS_REGION }}
          
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Setup Node.js 24
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Setup pnpm 10
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Rush Install
        run: node common/scripts/install-run-rush.js install

      - name: Copy config
        run: |
          mkdir ${{ steps.environment.outputs.directory }}/src/bin

          if [ "${{ fromJson(secrets.INSTALL_CONFIG).projects[github.event.inputs.application].allConfigs }}" == "true" ]; then
              cp digitraffic-ci/aws/cdk/marine/config.ts ${{ steps.environment.outputs.directory }}/src/bin/config-marine.ts 
              cp digitraffic-ci/aws/cdk/road/config.ts ${{ steps.environment.outputs.directory }}/src/bin/config-road.ts 
              cp digitraffic-ci/aws/cdk/rail/config.ts ${{ steps.environment.outputs.directory }}/src/bin/config-rail.ts 
              cp digitraffic-ci/aws/cdk/aviation/config.ts ${{ steps.environment.outputs.directory }}/src/bin/config-aviation.ts 
          else
              # file might not exist, so skipping errors 
              cp digitraffic-ci/aws/cdk/${{ steps.environment.outputs.domain }}/config.ts ${{ steps.environment.outputs.directory }}/src/bin/ || true
          fi

          cp digitraffic-ci/aws/cdk/${{ steps.environment.outputs.domain }}/${{ github.event.inputs.application}}/* ${{ steps.environment.outputs.directory }}/src/bin/

      - name: Diff and deploy
        env:
          ENV: ${{ github.event.inputs.env }}
          STACK: ${{ steps.environment.outputs.stack }}
        run: |                  
            if [ $ENV == "prod" ]; then export STACK_NAME=${STACK}Prod; else export STACK_NAME=${STACK}Test; fi;
 
            node common/scripts/install-run-rush.js rebuild --to ${{ github.event.inputs.application }}

            cd ${{ steps.environment.outputs.directory }}
            # and the run command
            node ../../common/scripts/install-run-rush-pnpm.js cdk ${{ github.event.inputs.command }} $STACK_NAME

      - name: Generate SBOM
        run: |
          node common/scripts/install-run-rush.js generate-sbom --only ${{ github.event.inputs.application }}

      - name: Configure AWS credentials for SBOM
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.SBOM_AWS_ROLE }}
          role-session-name: gh-actions-upload-sbom-${{ github.event.inputs.application }}-${{ github.event.inputs.env }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Upload SBOM
        run: |
          aws s3 cp ${{ steps.environment.outputs.directory }}/sbom.json s3://${{ secrets.SBOM_BUCKET }}/${{ fromJson(secrets.SBOM_PROJECT_KEYS)[github.event.inputs.env][github.event.inputs.application] }}/${{ github.run_id }}-${{ github.sha }}.json

      - name: Notify Slack
        if: failure()
        uses: 8398a7/action-slack@v3
        with:
          status: failure
          text: FAILED ${{ github.event.inputs.application }} install on ${{ github.event.inputs.env }}
          fields: repo, job, took
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
