name: Build, install and deploy to AWS
on:
  workflow_dispatch:

jobs:
  deploy:
    if: github.repository != 'tmfg/digitraffic-cdk'
    environment: ${{ github.event.inputs.env }}
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
      contents: read
      actions: read
    steps:
      - name: Simple placeholder
        run: |
          echo "Placeholder"
